.search-container {
  max-width: 822px;
  width: 100%;
}

.search-row {
  display: flex;
  justify-content: center;
}

.search-column {
  white-space: nowrap;
  width: 100%;
  #search {
    border-radius: 0;
  }
}

.search-text {
  display: inline-block;
  max-width: 100%;
}

.search-button {
  border: none;
  background: none;
  margin-left: -45px;
}

.search-image {
  height: 39px;
  margin-top: -4px;
}

.logo-column {
  color: white;
}

.logo-image {
  background-repeat: no-repeat;
  height: 45px;
  float: left;
  margin-left: -11px;
  margin-top: 3px;
}

.logo-text {
  font: normal normal 900 28px/34px Lato;
  font-size: 28px;
  letter-spacing: 0;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  height: 50px;
  line-height: 50px;
}

.previous-container {
  margin-top: 15px;
}

.previous-label {
  font: normal normal normal 12px/12px Lato;
  font-size: 12px;
  letter-spacing: 0;
  color: #b2b2b2;
  opacity: 1;
  width: 50px;
  margin-right: 10px;
  display: inline-block;
}

.previous-text-container {
  display: inline-block;
  position: absolute;
  margin-top: -3px;
}

.previous-text-item {
  font: normal normal normal 12px/12px Lato;
  font-size: 12px;
  letter-spacing: 0;
  color: #00ccff;
  text-decoration: underline;
  margin-right: 7px;
  opacity: 1;
  cursor: pointer;
  display: inline-block;
}

.results-label {
  font: normal normal normal 16px/16px Lato;
  letter-spacing: 0;
  color: #b2b2b2;
  margin-top: 25px;
  display: inline-block;
  margin-right: 4px;
  height: 100%;
}

.results-text {
  font: normal normal bold 16px/16px Lato;
  letter-spacing: 0;
  color: #b2b2b2;
  display: inline-block;
}
